@import '../../shared/styles/variables.css';

.filterInput {
  display: block;
  width: 150px;
  height: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 5px 10px;
  border: 1px solid var(--gray);
  border-radius: 20px;
  font-size: 15rem;
  outline: none;
}

.filterInput:focus {
  border: 1px solid var(--code-gray);
}

.categoryList {
  list-style: none;
  padding-left: 0;
}

.category__title {
  color: var(--code-gray);
  font-size: 22rem;
  font-weight: normal;
}

.appList {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.invisible {
  position: absolute;
  opacity: 0;
}
