:root {
  --gray-light: #f0f0f0;
  --gray: #ccc;
  --gray-dark: #777;
}

.item {
  position: relative;
  flex: 20%;
  max-width: 105px;
  height: auto;
  margin: 0 10px 30px;
  padding: 10px;
  text-align: center;
}

.logoWrapper {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto 10px;
}

.logo {
  position: relative;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  object-fit: cover;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.backgroundEffect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 6px;
}

.checkbox:hover ~ .backgroundEffect {
  background-color: var(--gray-light);
}

.checkbox:checked ~ .backgroundEffect {
  background-color: var(--gray);
}

.sidenote {
  display: block;
  margin-top: 10px;
  margin-left: 15px;
  color: var(--gray-dark);
}
